@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,70&display=swap');

// @font-face {
//     font-family: 'Ramillas';
//     src: url('../fonts/ramillas/tt_ramillas.woff2') format('woff2'),
//         url('../fonts/ramillas/tt_ramillas.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: block;/
// }

@font-face {
    font-family: 'PP Right Grotesk';
    src: url('../fonts/pp_right_grotesk/pp_right_grotesk.woff2') format('woff2'),
        url('../fonts/pp_right_grotesk/pp_right_grotesk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@mixin box-shadow() {
    box-shadow: 0 3px 6px 0 var(--color-shadow);
}

@mixin mockup-loading($color: var(--color-bg-xweak)) {
    @include absolute-fill;
    width: 200px;
    transform-origin: left;
    animation: 750ms ease-in-out 0ms infinite mockup-loading;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #{$color}, rgba(255, 255, 255, 0));
}

@keyframes mockup-loading {
    0% {
        opacity: 0;
        transform: scaleX(0) translateX(0%);
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
        transform: scaleX(1) translateX(50%);
    }
}

.fal {
    font-weight: 400 !important;
}

html {
    scroll-behavior: smooth;
}

body {
    font: var(--ft-m);
    color: var(--color-ft-light);
    background-color: var(--color-bg);
}

b b {
    font-weight: 800;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;    
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, p {
    font: inherit;
    font-weight: inherit;
    margin-top: 0;
    margin-bottom: 0;
}

button {
    border: none;
    outline: none;
}

ul, li, ol {
    margin: 0;
    padding: 0;
}

.fa {
    line-height: 1;
}

button,
input,
textarea {
    border: none;
    display: block;
    appearance: none;
    font: inherit;
    color: inherit;
    background: none;
}

input, textarea {
    width: 100%;
}

fieldset {
    border: 1px solid var(--color-border);
    border-radius: 6px;
}