$breakpoints: (
    "": 99999px,
    "m": 1200px,
    "s": 900px,
    "xs": 600px
);

$block-widths: (
    "5xs": 50,
    "4xs": 70,
    "3xs": 100,
    "2xss": 130,
    "2xs": 180,
    "xs": 280,
    "s": 320,
    "m": 500,
    "l": 700
);

$spacings: (
    "none": 0,
    "3xs": 3,
    "2xs": 5,
    "xs": 10,
    "s": 15,
    "s-m": 20,
    "s-l": 30,
    "m": 40,
    "l": 60,
    "xl": 100,
    "2xl": 150,
    "3xl": 200
);

$gutters: (
    "xl": 60,
    "l": 30,
    "m": 20,
    "s": 10,
    "xs": 5,
    "2xs": 2,
    "none": 0
);

$colors: (
    "ft-strong": #000000,
    "ft": #000000,
    "ft-weak": #8184a4,
    "ft-xweak": #51516b,
    "ft-light": #f3f3f3,

    "cosmoz": #2c0cac,
    "cosmoz-weak": #6c6bcf,

    // "cream-xweak": #F6F4F1,
    // "cream-weak": #EBEAE8,
    // "cream": #CAC6BE,
    // "cream-strong": #aca69a,
    // "cream-xstrong": #565049,

    // "alpine-xweak": #E4EEE9,
    // "alpine-weak": #cfded5,
    // "alpine": #a5c3ae,
    // "alpine-strong": #649a7a,
    // "alpine-xstrong": #34684e,

    // "rose-2xstrong": #2a2022,
    // "rose-xstrong": #44282e,

    // "memo-xweak": #eeece4,
    // "memo-weak": #ede7d1,
    // "memo": #d8ccaa,
    // "memo-strong": #c8bb9b,
    // "memo-xstrong": #72653b,
    
    // "ocean-xweak": #e1e5f3,
    // "ocean-weak": #e5e6ed,
    // "ocean": #a9acce,
    // "ocean-strong": #7a7a92,
    // "ocean-xstrong": #4f4d6e,

    // "tulip-xweak": #f3e2ee,
    // "tulip-weak": #eadde6,
    // "tulip": #c6b5c2,
    // "tulip-strong": #aa8da6,
    // "tulip-xstrong": #664b64,

    // "merlot": #a16363,
    // "merlot-strong": #693737,
    // "merlot-xstrong": #361313,

    "sticky": #FFEE80,
    "sticky-weak": #FFEE80,
    "sticky-xweak": #FFF7CC,

    "black": #000000,
    
    "bg-2xstrong": #111015,
    "bg-xstrong": #16151e,
    "bg-strong": #1d1b27,
    "bg": #232332,
    "bg-weak": #2a2a3d,
    "bg-xweak": #3c3d45,
    "bg-2xweak": #e7e6eb,
    "bg-light": #f3f3f3,

    "border": #3d4057,
    "border-weak": #292738,
    "border-strong": #B3B3B3,

    "disabled": #d3d4dc,
    "love": #ec2c5d,
    "error": #FF2D42,
    "success": #10c773,

    "shadow": rgba(207, 215, 231, 0.3)
);

$main-colors: ();

$fonts: (
    "ft": (
        "name": "Roboto Condensed, sans-serif",
        "sizes": (
            "2xs": "11px/1.5",
            "xs": "14px/1.5",
            "s": "15px/1.5",
            "m": "17px/1.5",
            "l": "18px/1.5",
            "xl": "20px/1.4",
            "2xl": "24px/1.4",
            "3xl": "34px/1.25",
            "4xl": "40px/0.75",
            "5xl": "70px/0.75",
        ),
        "weights": (
            "regular": 400,
            "medium": 600,
            "bold": 700
        )
    ),
    "ft-title": (
        "name": "'PP Right Grotesk', sans-serif",
        "sizes": (
            "3xs": "14px/1.2",
            "2xs": "16px/1.2",
            "xs": "18px/1.2",
            "s": "22px/1.2",
            "m": "24px/1.2",
            "l": "30px/1.2",
            "xl": "35px/1.2",
            "2xl": "40px/1.2"
        )
    ),
    "ft-icon": (
        "name": "'Font Awesome 6 Pro'",
        "sizes": (
            "xs": "12px/1",
            "s": "14px/1",
            "m": "16px/1"
        ),
        "weights": (
            "regular": 300
        )
    )
);