@mixin absolute-fill($overflow: 100) {
    position: absolute;
    top: #{(100 - $overflow) / 2 +'%'};
    left: #{(100 - $overflow) / 2 +'%'};
    width: #{$overflow +'%'};
    height: #{$overflow +'%'};
}

@mixin pattern-spotted($color: "blueberry") {
    background-image: radial-gradient(var(--color-#{$color}) 25%, transparent 25%), radial-gradient(var(--color-#{$color}) 25%, transparent 25%);
    background-position: 0 0, 3px 3px;
    background-size: 5px 5px;
}

@mixin breakpoint-m {
  @media (max-width: #{map-get($breakpoints, "m")}) { @content; }
}

@mixin breakpoint-s {
  @media (max-width: #{map-get($breakpoints, "s")}) { @content; }
}

@mixin breakpoint-xs {
  @media (max-width: #{map-get($breakpoints, "xs")}) { @content; }
}

@mixin ratio($ratio: 50) {
    content: "";
    display: block;
    padding-bottom: #{$ratio + '%'};
}

@mixin hide-scrollbars {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
      width: 0;
      height: 0;
  }
}

@mixin img-cover($overflow: 100) {
    position: absolute;
    top: #{(100 - $overflow) / 2 +'%'};
    left: #{(100 - $overflow) / 2 +'%'};
    width: #{$overflow +'%'};
    height: #{$overflow +'%'};
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
}

@mixin img-contain($overflow: 100) {
    position: absolute;
    top: #{(100 - $overflow) / 2 +'%'};
    left: #{(100 - $overflow) / 2 +'%'};
    width: #{$overflow +'%'};
    height: #{$overflow +'%'};
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;
}

@function color-opacity($color: 'bg-xstrong', $amount: -50%) {
  $result: scale-color(map-get($colors, $color), $alpha: $amount);
  @return $result;
}