:root {
    @each $colorName, $color in $colors {
      --color-#{$colorName}: #{$color};
    }
  
    @each $fontName, $font in $fonts {
      --#{$fontName}: #{map-get($font, name)};
  
      @each $weightName, $weight in map-get($font, "weights") {
          --#{$fontName}-#{$weightName}: #{$weight};
      }
      
      @each $size, $value in map-get($font, sizes) {
        --#{$fontName}-#{$size}: #{$value} var(--#{$fontName});
  
        @each $weightName, $weight in map-get($font, "weights") {
          --#{$fontName}-#{$size}-#{$weightName}: #{$weight} #{$value} var(--#{$fontName});
        }
      }
    }
  
    @each $widthName, $width in $block-widths {
      --w-#{$widthName}: #{$width}px;
    }
  }