.ButtonBase {
    display: inline-flex;
    font: var(--ft-s-bold);
    font-style: italic;
    text-transform: uppercase;
    color: var(--color-ft-light);
    border: 2px solid var(--color-ft);
    background-color: var(--color-ft);
    padding: 10px 15px;
    border-radius: 40px;
    transition: all 150ms ease;
    
    &:hover,
    &:active {
        background-color: transparent;
        color: var(--color-ft-light);
    }

    &:active {
        transform: scale(0.96);
    }
}

.ButtonBase_iconBefore {
    margin-right: 8px;
}

.ButtonBase--current {
    border-color: var(--color-current-strong);
    color: var(--color-current-strong);

    &:hover,
    &:active {
        color: var(--color-ft-light);
        background-color: var(--color-current-strong);
    }

    &:active {
        border-color: var(--color-current-xstrong);
        background-color: var(--color-current-xstrong);
    }
}

.ButtonBase--light {
    background-color: var(--color-ft-light);
    border-color: var(--color-ft-light);
    color: var(--color-ft);

    &:hover,
    &:active {
        color: var(--color-ft-light);
        background-color: transparent;
    }
}

.ButtonBase--full {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.ButtonBase--s {
    padding: 8px 12px;
    font: var(--ft-xs-medium);
}

.ButtonBase--round {
    padding: 0;
    flex-shrink: 0;
    
    .ButtonBase_iconAfter,
    .ButtonBase_iconBefore {
        margin: 0;
    }

    .ButtonBase_content {
        width: 45px;
        height: 45px;
    }

    &.ButtonBase--l {

        .ButtonBase_content {
            width: 60px;
            height: 60px;
        }
    
        .ButtonBase_iconAfter,
        .ButtonBase_iconBefore {
            margin: 0;
        }

    }

    &.ButtonBase--s {

        .ButtonBase_content {
            width: 40px;
            height: 40px;
        }
    
        .ButtonBase_iconAfter,
        .ButtonBase_iconBefore {
            margin: 0;
        }

    }

    &.ButtonBase--xs {

        .ButtonBase_content {
            width: 35px;
            height: 35px;
        }
    
        .ButtonBase_iconAfter,
        .ButtonBase_iconBefore {
            margin: 0;
        }
    }

    &.ButtonBase--2xs {

        .ButtonBase_content {
            width: 30px;
            height: 30px;
            min-height: 0;
            min-width: 0;
            padding: 0;
        }
    
        .ButtonBase_iconAfter,
        .ButtonBase_iconBefore {
            margin: 0;
            font-size: 14px;
        }
    }
}