.ButtonBase {
    display: inline-flex;
    font: var(--ft-s-medium);
    text-transform: uppercase;
    color: var(--color-ft-light);
    border: 2px solid var(--color-ft);
    background-color: var(--color-ft);
    padding: 10px 15px;
    border-radius: 40px;
    transition: all 150ms ease;
    
    &:hover,
    &:active {
        background-color: transparent;
        color: var(--color-ft-light);
    }

    &:active {
        transform: scale(0.96);
    }
}

.ButtonBase_iconBefore {
    margin-right: 8px;
}

.ButtonBase--current {
    border-color: var(--color-current-strong);
    color: var(--color-current-strong);

    &:hover,
    &:active {
        color: var(--color-ft-light);
        background-color: var(--color-current-strong);
    }

    &:active {
        border-color: var(--color-current-xstrong);
        background-color: var(--color-current-xstrong);
    }
}

.ButtonBase--full {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.ButtonBase--s {
    padding: 8px 12px;
    font: var(--ft-xs-medium);
}