.CardDefault {
    display: flex;
    flex-direction: column;
    font: var(--ft-title-m);
    font-size: 26px;
    line-height: 1.2;
    padding: 30px;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;

    &.is-active {

        .CardDefault_subtitle {
            color: var(--color-current-strong);
        }
    }

    &.is-steps {
        
        .CardDefault_titleContainer {
            margin-top: 30px;
        }
    }
}

.CardDefault_titleContainer {
    margin: 0 0 20px;
}

.CardDefault_title ::v-deep .secondary {
    color: var(--color-current-strong);
}

.CardDefault_subtitle {
    font: var(--ft-xl);
}

.CardDefault_title {

    & + .CardDefault_subtitle {
        margin-top: 10px;
    }
}

.CardDefault_steps {
    display: flex;
    width: 60%;
    position: absolute;
    top: 30px;
    left: 30px;
}

.CardDefault_step {
    flex-grow: 1;
    height: 4px;
    border-radius: 5px;
    margin-left: 5px;
    background-color: var(--color-current);
    max-width: 33%;

    &:first-child {
        margin-left: 0;
    }

    &.is-active {
        background-color: var(--color-current-strong);
    }
}

.CardDefault--bg {
    background-size: cover;
    background-position: center;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
    }

    & > * {
        position: relative;
        z-index: 2;
    }

    .CardDefault_title,
    .CardDefault_subtitle {
        color: var(--color-ft-light) !important;
    }

    .CardDefault_steps {
        position: absolute;
    }

    .CardDefault_step {
        background-color: var(--color-bg-light);
        opacity: 0.35;
    
        &.is-active {
            opacity: 1;
            background-color: var(--color-bg-light);
        }
    }
}

.Card.is-strong {
    
    .CardDefault_step {
        background-color: var(--color-bg-light);
        opacity: 0.35;
    
        &.is-active {
            opacity: 1;
            background-color: var(--color-bg-light);
        }
    }
}