
.SelectBase_options {
    background-color: var(--color-bg-weak) !important;
}

.SelectBase_option {
    color: var(--color-ft-light);

    &.is-selected {
        color: var(--color-ft);
        background-color: var(--color-bg-light);
    }
}
.Toggle_checkbox:checked + .Toggle_container {
    background: var(--color-bg-light);
}

.Toggle_container::after{
    background: var(--color-bg-xstrong);
}