.LinkBase {
    font: var(--ft-s);
    line-height: 1;
    display: inline-block;
    cursor: pointer;
    padding: 0;
    color: var(--color-ft-light);
    text-underline-offset: 0.085rem;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }

    &:active {
        opacity: 0.5;
        text-decoration: none;
    }
}

.LinkBase_content {
    position: relative;
}

.LinkBase--s {
    font: var(--ft-xs);
    line-height: 1;

    &::before {
        bottom: -4px;
    }
}

.LinkBase--ellipsis {
    white-space: normal;

    .LinkBase_content {
        word-break: break-all;
        @extend .ellipsis-1;
    }
}

.LinkBase--current {
    color: var(--color-current);

    &::before {
        background-color: var(--color-current);
    }
}